/* Mise en forme du corps */
body {
    font-family: Arial, sans-serif;
    /* background: url('R.jpeg') no-repeat center center fixed; */
    /* background-size: cover; */
    background-color: rgb(231, 141, 108);
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Mise en forme des entêtes */
h1 {
    text-align: center;
    margin-top: 20px;
    color: #000000;
}

/* Mise en forme des formulaires */
form {
    max-width: 600px;
    width: 100%;
    margin: 20px auto;
    padding: 20px;
    background-color: #c9b4dc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Mise en forme des labels et des champs */
label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
}

input[type="number"],
input[type="text"],
input[type="date"] {
    width: calc(100% - 22px); /* Ajuste la largeur en tenant compte du padding */
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #5fa07a;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

/* Mise en forme des liens */
a {
    color: #4CAF50;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}
