body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
   
}
.message {
    font-size: 1.2em;
    margin-bottom: 20px;
    text-align: center;
}
.links a {
    display: flex;
  
    margin: 10px 0;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    justify-content: space-around;
}
.links a:hover {
    background-color: #5390d1;
}
.error {
    color: red;
    font-weight: bold;
}